<script>
// v0.5.2 - https://github.com/SimonLammer/anki-persistence/blob/62463a7f63e79ce12f7a622a8ca0beb4c1c5d556/script.js
if(void 0===window.Persistence){var _persistenceKey="github.com/SimonLammer/anki-persistence/",_defaultKey="_default";if(window.Persistence_sessionStorage=function(){var e=!1;try{"object"==typeof window.sessionStorage&&(e=!0,this.clear=function(){for(var e=0;e<sessionStorage.length;e++){var t=sessionStorage.key(e);0==t.indexOf(_persistenceKey)&&(sessionStorage.removeItem(t),e--)}},this.setItem=function(e,t){void 0==t&&(t=e,e=_defaultKey),sessionStorage.setItem(_persistenceKey+e,JSON.stringify(t))},this.getItem=function(e){return void 0==e&&(e=_defaultKey),JSON.parse(sessionStorage.getItem(_persistenceKey+e))},this.removeItem=function(e){void 0==e&&(e=_defaultKey),sessionStorage.removeItem(_persistenceKey+e)})}catch(e){}this.isAvailable=function(){return e}},window.Persistence_windowKey=function(e){var t=window[e],i=!1;"object"==typeof t&&(i=!0,this.clear=function(){t[_persistenceKey]={}},this.setItem=function(e,i){void 0==i&&(i=e,e=_defaultKey),t[_persistenceKey][e]=i},this.getItem=function(e){return void 0==e&&(e=_defaultKey),t[_persistenceKey][e]||null},this.removeItem=function(e){void 0==e&&(e=_defaultKey),delete t[_persistenceKey][e]},void 0==t[_persistenceKey]&&this.clear()),this.isAvailable=function(){return i}},window.Persistence=new Persistence_sessionStorage,Persistence.isAvailable()||(window.Persistence=new Persistence_windowKey("py")),!Persistence.isAvailable()){var titleStartIndex=window.location.toString().indexOf("title"),titleContentIndex=window.location.toString().indexOf("main",titleStartIndex);titleStartIndex>0&&titleContentIndex>0&&titleContentIndex-titleStartIndex<10&&(window.Persistence=new Persistence_windowKey("qt"))}}
</script>

<div id="front"></div>

{{Prescript}}
{{Initialize}}

<script type="text/javascript">
    var isBack = document.getElementById("back") ? true : false;
    var sgfparams = { "fitWindow": true, "enableNavigation":isBack, 
        "enableMask":"{{enableMask}}", "enablePlay":"{{enablePlay}}", 
        "showDead":"{{showDead}}", "crop":"{{Crop}}" };
</script>

{{D3Script}}
{{SGFScript}}
{{GobanScript}}

<div class="sgfview">
    <div class="sgfsource">{{SGF}}</div>
</div>

<script type="text/javascript">
    var hashed = 0;                 // Default to 0.
    var rotation = 0;
    var mirror = 0;
    if (Persistence.isAvailable()) {  // Check whether Persistence works on the client.
      hashed = Persistence.getItem(); // Retrieve a previously stored number and override the default. (In case this is executed on the backside as well by {{FrontSide}})
      if (hashed == null) {           // If there was no number stored previously:
        rotation = getRandomInt(0,4);
        mirror = getRandomInt(0,2);
        hashed = mirror*4+rotation;
        Persistence.setItem(hashed);
      } else {
          mirror = Math.floor(hashed / 4);
          rotation = hashed % 4;
      }
    }

    var sgfview = d3.select(".sgfview");
    var board = new Goban(sgfview, rotation, mirror);

    var sgfsource = "";
    if( sgfview.select(".sgfsource div").size() == 0 ){
        sgfsource += sgfview.select( ".sgfsource" ).text() + "\n";
    }else{
        sgfview.selectAll( ".sgfsource div" ).text(
                function(){
                    sgfsource += d3.select(this).text() + "\n";
                });
    }
    var sgf = parseSGF( sgfsource );

    board.setContent( sgf );
    board.setParams( sgfparams );

    board.show(); 
    if(isBack)
        board.playVariation( 0 );
    else
        board.toStart();

//    sgfview.append('div').text("H: " + hashed + " R: " + rotation + " M: " + mirror + " Persistence: " + Persistence.isAvailable())
</script>
