.sgfview {
    width:100%;
    font-family:sans-serif;
}

.sgfsource {
    display:none;
}

.sgfparams {
    display:none;
}

#markup-mask-svg {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
}

.sgfview .commentary {
    margin-top:1em;
    margin-left:auto;
    margin-right:auto;
    font-size:16pt;
    text-align:center;
}

.sgfview .marquee {
    text-align:center;
    font-size:18pt;
    margin-bottom:0.5em;
    min-height:1.25em;
}

.sgfview .commentary div {
    min-height:1.25em;
    display:block;
}

.sgfview .navigation {
    text-align:center;
    font-size:25px;
    font-weight:bold;
    margin-top:15px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:10px;
}

.sgfview .navigation .button {
    display: inline-block;
    border: 1px solid black;
    background:white;
    color:black;
    padding-top:8px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    margin:5px;
    vertical-align:center;
    width:40px;
    height:32px;
}

.sgfview .navigation .button:hover {
    color:white;
    background:gray;
    cursor:pointer;
}

.sgfview .navigation .button:active {
    color:white;
    background:black;
}

.sgfview .variations {
    text-align:center;
    font-size:14pt;
    font-weight:bold;
    margin-top:15px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    vertical-align:center;
}

.sgfview .variations .header {
    display: inline-block;
    font-size: 25px;
    margin-right:20px;
    vertical-align:center;
}

.sgfview .variations .variant {
    display: inline-block;
    border: 1px solid black;
    background:white;
    color:black;
    padding-top:13px;
    padding-bottom:10px;
    padding-left:15px;
    padding-right:15px;
    margin:5px;
    width:30px;
    height:25px;
    font-size: 22px;
    vertical-align:center;
}

.sgfview .variations .variant:hover {
    color:white;
    background:gray;
    cursor:pointer;
}

.sgfview .variations .variant.selected {
    color:white;
    background:black;
}

.sgfview svg {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.sgfview svg rect.goban {
    stroke:none;
    fill: #DCB35C;
}

.sgfview svg rect.border {
    fill:none;
    stroke:black;
    stroke-width:2px;
}

.sgfview svg line.line {
    stroke:black;
    stroke-width:1px;
}

.sgfview svg rect.movemarker {
    stroke:red;
    fill:red;
    stroke-width:1px;
}

.sgfview svg circle.stone.w {
    stroke:black;
    stroke-width:1px;
    fill:white;
}

.sgfview svg circle.stone.b {
    stroke:black;
    stroke-width:1px;
    fill:black;
}

.sgfview svg circle.stone.dead {
    fill-opacity:0.35;
    stroke-opacity:0.35;
}

.sgfview svg rect.background {
    fill:white;
}

.sgfview svg text.label {
    fill:black;
    text-anchor:middle;
    alignment-baseline:middle;
}

.sgfview svg text.LB {
    fill:red;
    text-anchor:middle;
    alignment-baseline:central;
    font-weight:bold;
}

.sgfview svg text.LB.w {
    fill:white;
}

.sgfview svg text.LB.b {
    fill:black;
}

.sgfview svg polygon.TR {
    fill:none;
    stroke-width:2px;
}

.sgfview svg polygon.TR.w {
    stroke:white;
}

.sgfview svg polygon.TR.b {
    stroke:black;
}

.sgfview svg line.MA {
    fill:none;
    stroke-width:2px;
}

.sgfview svg line.MA.dead {
    stroke-opacity:35%;
}

.sgfview svg line.MA.w {
    stroke:white;
}

.sgfview svg line.MA.b {
    stroke:black;
}

.sgfview svg rect.detector {
    fill:white;
    fill-opacity:0%;
    stroke:white;
    stroke-width:2px;
    stroke-opacity:0%;
    z-index:1000;
}

.sgfview svg rect.SQ {
    fill:none;
    stroke-width:2px;
}

.sgfview svg rect.SQ.w {
    stroke:white;
}

.sgfview svg rect.SQ.b {
    stroke:black;
}

.sgfview svg circle.CR {
    fill:none;
    stroke-width:2px;
}

.sgfview svg circle.CR.w {
    stroke:white;
}

.sgfview svg circle.CR.b {
    stroke:black;
}

